<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="/Default/Index"><img src="~/foodeiblog-master/img/humberger/humberger-logo.png" alt=""></a>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li><a href="/Default/Index">Anasayfa</a></li>
            <li><a href="/Login/Index">Yazar Girişi</a></li>
            <li><a href="/Contact/Index">Bize Ulaşın</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="humberger__menu__about">
        <img src="~/foodeiblog-master/img/humberger/humberger-about.jpg" alt="">
        <h6>Aşağıdaki hesaplarımız üzerinden bize yazabilirsiniz.</h6>
        <div style="margin-top:10px" class="humberger__menu__about__social sidebar__item__follow__links">
            @await Component.InvokeAsync("_SocialMediaComponentPartial")
        </div>
    </div>
</div>