@model Comment

@{
    ViewData["Title"] = "CommentDetail";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Yorum Detay Sayfası</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Yorumlar</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Yorum Detayı</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yorum Detayı</h4>
                        <p class="card-description">İlgili bloğa ait yorum detayını aşağıda görebilirsiniz.</p>
                        <div class="form-group">
                            <label>Blog Başlığı</label>
                            <input type="text" class="form-control" asp-for="@Model.Article.Title" />
                        </div>
                        <div class="form-group">
                            <label>Yorum Sahibi</label>
                            <input type="text" class="form-control" asp-for="@Model.AppUser.Name" />
                        </div>
                        <div class="form-group">
                            <label>Tarih</label>
                            <input type="text" class="form-control" asp-for="@Model.CreatedDate" />
                        </div>
                        <div class="form-group">
                            <label>Yorum İçeriği</label>
                            <textarea class="form-control" rows="5" asp-for="@Model.Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

