@model AppUser

<div class="single-post__author__profile">
    <div class="single-post__author__profile__pic">
        <img src="~/images/@Model.ImageUrl" alt="">
    </div>
    <div class="single-post__author__profile__text">
        <h4>@Model.Name @Model.Surname</h4>
        <p>@Model.Description</p>
    </div>
</div>