<div class="single-post__leave__comment">
    <div class="widget__title">
        <h4>Bir yorum yapın</h4>
    </div>
    <form id="commentForm">
        <div class="form-group">
            <input type="hidden" name="ArticleId" />
        </div>
        <div class="form-group">
            <textarea name="Description" placeholder="Mesajınızı yazın..."></textarea>
        </div>
        <div class="form-group">
            <button id="btnComment" class="btn btn-warning">Yorum Yap</button>
        </div>
    </form>
</div>