<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Breeze Admin</title>
    <link rel="stylesheet" href="~/Breeze/template/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/Breeze/template/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/Breeze/template/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/Breeze/template/assets/css/style.css" />
    <link rel="shortcut icon" href="~/Breeze/template/assets/images/favicon.png" />
</head>