<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="/Writer/Blog/MyBlogList"><img src="~/Breeze/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="/Writer/Blog/MyBlogList"><img src="~/Breeze/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/images/@ViewBag.userImage" alt="profile" />
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column pr-3">
                    <span class="font-weight-medium mb-2">@ViewBag.userInfo</span>
                    <span class="font-weight-normal">@ViewBag.userCity</span>
                </div>
                <span class="badge badge-danger text-white ml-3 rounded">@ViewBag.articleCount</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/EditProfile">
                <i class="mdi mdi-account-box menu-icon"></i>
                <span class="menu-title">Profil Ayarları</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-email menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/Inbox">Gelen Kutusu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/SentItems">Gönderilenler Kutusu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/SendMessage">Mesaj Gönder</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Notification/Index">
                <i class="mdi mdi-nfc menu-icon"></i>
                <span class="menu-title">Bildirimler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Blog/MyBlogList">
                <i class="mdi mdi-blogger menu-icon"></i>
                <span class="menu-title">Bloglar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Comment/CommentList">
                <i class="mdi mdi-comment menu-icon"></i>
                <span class="menu-title">Yorumlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Statistic/Index">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-tag-multiple menu-icon"></i>
                <span class="menu-title">Etiketler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/SignOut">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>