﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>
    @await Component.InvokeAsync("_SidebarComponentPartial")
    @await Component.InvokeAsync("_NavbarComponentPartial")
    <!-- Single Post Section Begin -->
    @await Component.InvokeAsync("_ArticleDetailComponentPartial", new { id = ViewBag.ArticleId })
    <!-- Single Post Section End -->
    <!-- Footer Section Begin -->
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    @await Component.InvokeAsync("_DefaultScriptComponentPartial")
</body>
</html>