<li class="nav-item dropdown">
    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
        <i class="mdi mdi-bell-outline"></i>
        <span class="count count-varient1">7</span>
    </a>
    <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="notificationDropdown">
        <h6 class="p-3 mb-0">Notifications</h6>
        <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
                <img src="~/Breeze/template/assets/images/faces/face4.jpg" alt="" class="profile-pic" />
            </div>
            <div class="preview-item-content">
                <p class="mb-0">
                    Dany Miles <span class="text-small text-muted">commented on your photo</span>
                </p>
            </div>
        </a>
        <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
                <img src="~/Breeze/template/assets/images/faces/face3.jpg" alt="" class="profile-pic" />
            </div>
            <div class="preview-item-content">
                <p class="mb-0">
                    James <span class="text-small text-muted">posted a photo on your wall</span>
                </p>
            </div>
        </a>
        <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
                <img src="~/Breeze/template/assets/images/faces/face2.jpg" alt="" class="profile-pic" />
            </div>
            <div class="preview-item-content">
                <p class="mb-0">
                    Alex <span class="text-small text-muted">just mentioned you in his post</span>
                </p>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <p class="p-3 mb-0">View all activities</p>
    </div>
</li>