@model List<KeyValuePair<string, int>>

<div class="sidebar__item__categories">
    <div class="sidebar__item__title">
        <h6>Kategoriler</h6>
    </div>
    <ul>
        @foreach(var item in Model)
        {
            <li><a href="#">@item.Key <span>@item.Value</span></a></li>
        }

    </ul>
</div>