
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@await Component.InvokeAsync("_BlogListComponentPartial")
<div class="col-lg-4 col-md-4">
    <div class="sidebar__item">
        @await Component.InvokeAsync("_AboutComponentPartial")
        <div class="sidebar__follow__item">
            <div class="sidebar__item__title">
                <h6>Bizi Takip Edin</h6>
            </div>
            @await Component.InvokeAsync("_SocialMediaComponentPartial")
        </div>

        <!--FeaturePost alanı ileride düzenlenmek için yorum satırı haline getirilmiştir.-->
        @* @await Component.InvokeAsync("_FeaturePostComponentPartial") *@ 
        
        @await Component.InvokeAsync("_CategoryComponentPartial")
    </div>
</div>